/*Flex instructions*/
body {
    min-height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    background-color: blue;
}

.me {
    display: flex;
    background-color: darkblue;
}

.experience {
    display: flex;
    background-color: white;
}

.experiences {
    display: flex;
    background-color: white;
}

.rates {
    display: flex;
    background-color: gray;
}

.contactme {
    display: flex;
    background-color: white;
}

.footer {
    display: flex;
    background-color: darkblue;
}

/*Defaults*/

ul {
    /* this removes list bullets */
    list-style-type: none;
    /*margin: 0;
    padding: 0;*/
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    /*color: white;
    font-size: 24px;*/
}