/*Flex instructions*/
body {
    min-height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    background-color: blue;
}

.me {
    display: flex;
    background-color: darkblue;
}

.experience {
    display: flex;
    background-color: white;
    justify-content: center;
    padding: 20px;
    font-size: 28px;
}

.experiences {
    display: flex;
    background-color: white;
    justify-content: center;
    gap: 52px;
}

/*whole image + text in experiences*/
.item {
    max-width: 300px;
}

/*image rectangles in center*/
img {
    width: 100px;
    height: 100px;
}

.rates {
    display: flex;
    background-color: gray;
}

.contactme {
    display: flex;
    background-color: white;
}

.footer {
    display: flex;
    background-color: darkblue;
}


/*Defaults*/

ul {
    /* this removes list bullets */
    list-style-type: none;
    /*margin: 0;
    padding: 0;*/
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    /*color: white;
    font-size: 24px;*/
}